{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<h1>Contact me!</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p id="thanks">Thanks for contacting me.</p>
<nav class="nav nav-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="visible-xs" id="socialIconsSmall" >
				<a href="{% url 'index' %}"><i class="fa fa-home fa-2x"></i></a>
				<a href="http://www.twitter.com/soniahinson"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="http://www.github.com/shinson"><i class="fa fa-github-alt fa-2x"></i></a>
				<a href="{% url 'blog' %}"><i class="fa fa-lightbulb-o fa-2x"></i></a>
				</div>
			</div>
		<div>
		<div class="hidden-xs">
			<ul class="nav navbar-nav">
				<li class="active">
					<a class="hidden-xs" href="{% url 'index' %}">Home</a>
				</li>
				<li>
					<a class="scroll-link" data-id="about" href="/#about">About</a>
				</li>
				<li>
					<a href="{% url 'blog' %}">Blog</a>
				</li>
				<li>
					<a class="scroll-link" data-id="project" href="/#project">Projects</a>
				</li>
				<li>
					<a class="scroll-link" data-id="project" href="{% url 'contact' %}">Contact</a>
				</li>
			</ul>
			</div>
			<ul class="nav navbar-nav hidden-xs" id="socialIcons">
				<li>
					<a href="http://www.twitter.com/soniahinson"><i class="fa fa-twitter fa-2x"></i></a>
				</li>
				<li>
					<a href="http://www.github.com/shinson"><i class="fa fa-github-alt fa-2x"></i></a>
				</li>
			
			</ul>
		</div>
	</div>
</nav>
{% endblock %}