{% extends 'base.html' %} 
{% block head_title %}
	{% for blog in post %}
	{{ post.title }}
	{% endfor %}
{% endblock %}
{% block title %}
	{% for blog in post %}
	{{ post.title }}
	{% endfor %}
{% endblock %}

{% block content %}
<div class="header" id="home">

	<nav class="nav nav-default">
	
		<h1 class="hidden-xs hidden-sm visible-md visible-lg visible-xl">My Thoughts</h1>
		<h1 class="visible-xs visible-sm hidden-md hidden-lg hidden-xl">My Thoughts</h1>
   	</nav>
   	</div>
    <br>
    <div class="container-fluid">
	<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs" id="blogMenu">
	<a href="{% url 'index' %}" class="btn btn-default" role="button" type="Link" >Home</a><br>
	<a href="{% url 'blog' %}" class="btn btn-default" role="button" type="Link" >Blog</a><br>
	<a href="/#about" class="btn btn-default" role="button" type="Link" >About Me</a><br>
	<a href="{% url 'contact' %}" class="btn btn-default" role="button" type="Link" >Contact</a><br>
	</div>
	<div class="col-sm-9 col-md-9 col-lg-9" id="viewPost">
	{% for blog in post %}
    <h2>{{blog.title }}</h2>
    <p id = 'viewPostDate'>{{blog.posted}}</p>
    {{ foobar|safe }}
    <p>{{blog.body|safe}}</p>
    {% endfor %}
    </div>
    <div class="container-fluid">
	<div class="hidden-sm hidden-md hidden-lg hidden-xl col-xs-3" id="blogMenuBottom">
	<a href="{% url 'index' %}" class="btn btn-default" role="button" type="Link" >Home</a><br>
	<a href="{% url 'blog' %}"  class="btn btn-default" role="button" type="Link" >Blog</a><br>
	<a href="{% url 'contact' %}" class="btn btn-default" role="button" type="Link" >Contact</a><br>
	</div>
	</div>
{% endblock %}