.navBar{
width: 100%;
display:inline;
position: fixed;
top: 0;
left: 0;
height: 60px;
padding: 0 15px;
font-family: 'Raleway', sans-serif;
background-color: #fff;
z-index:100;
}

.navWrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.logo {
  float: left;
  margin: 20px 15px;
}

.mainMenu{
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 35px;
}

.btn-atom {
  height: 100%;
  float:right;
  display: inline;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 55px;
  height: 55px;
  font-size: 0;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  background: #fff;
}

.btn-atom:focus {
  outline: none;
}



.btn-atom span,
.btn-atom span::before,
.btn-atom span::after {
  background: none;
  border: 2px black solid;
  border-radius: 50%;
  transition: transform 0.5s ease-out, width 0.5s ease-out, height 0.5s ease-out;
}

.btn-atom span {
  display: block;
  position: absolute;
  top: 28px;
  left: 5px;
  height: 15px;
  transform: translateX(0px) translateY(-10px)rotate(90deg);
  width: 40px;
}

.btn-atom span::before,
.btn-atom span::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 14px;
  content: "";
}

.btn-atom span::before {
    top: -2px;
    left: -2px;
    transform: rotate(60deg);
}

.btn-atom span::after {
    bottom: -2px;
    right: -2px;
    transform: rotate(-60deg);
    opacity: 1;
    transition: opacity 0.3s;
}

.navMenu{
  list-style: none;
  background-color: #fff;
  position: relative;
  z-index: 1000;
  padding-left: 10px;
  top: 50px;
  right: 0;
  opacity:0;
  transition: opacity 0.5s;
  display:none;

}


.navMenu.showMenu{
  opacity: 1;
  display:block;
}

.navMenu li{
  width: 100px;
  padding: 10px 0;
  border-bottom: black solid 3px;
}

.navMenu li::last{
  border-bottom: none;
}


/* Icon to X */

.btn-atom.is-active span,
.btn-atom.is-active span::before,
.btn-atom.is-active span::after{
  background-color: black;
  border-radius:0;
  border:none;
  height: 3px;

}

.btn-atom.is-active span {
  transform: rotate(45deg);
}

.btn-atom.is-active span::before {
  top: 0.4px;
  left: 0.4px;
  transform: rotate(88deg);
}

.btn-atom.is-active span::after {
  opacity:0;
}

.btn-atom.is-active span::before,
.btn-atom.is-active span::after {
  transition-delay: 0s, 0.3s;
}





