*{
	font-family:Arial;
	}


	
a {
	color:#34CCBC;
	}

a:hover {
	color:#9AEEFF;
	text-decoration:none;
	background-color:none;
	}
	
h1 {
	font-family: 'Pacifico', helvetica;
	font-size: 64px;
	text-align:center;
	color: #999173;
	background-color:#FFBD5A;
	margin: 0px auto;
  	padding-top: 10px;
  	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}
	
h2 {
	font-family: 'Pacifico', helvetica;
	background-color:#9AEEFF;
	font-size: 42px;
	color: #FFBD5A;
	text-align: center;
	padding: 10px 0px;
	margin: 10px auto;
	width: 100%;
	}
	
p {
	font-size:28px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	color: #000;
	}

nav.nav-default.navbar-fixed-bottom {
	background-color:rgba(0, 0, 0, 0.8);
	border-top: 2px solid rgb(0, 0, 0, 1);
	height: 45px;
	}

ul.nav a:hover{
	background-color:rgba(0, 0, 0, 0);
	}


#active {
	background-color:rgba(0, 0, 0, 0);
	}

.nav > li > a:focus {
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    color:#34CCBC;
    
}

.nav > li > a:hover {
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0);
    border: none;
    color:#34CCBC;
    
}


.hidden-md.hidden-sm.hidden-xs.col-lg-4{
	margin: 80px auto;
	text-align:center;
	padding: 0px 10px;
	border: 10px solid #FFBD5A;
	width: 30%;
	}
	
.col-md-4.col-sm-4.col-xs-4.hidden-lg {
	margin: 50px auto 20px;
	text-align:center;
	padding: 0px 20px;
	width: 100%;
	border:none !important;
}

#centerInfo {
	margin: 80px 5%;
	}

#centerInfoSmall {
	margin: 0px auto;
}


.hidden-md.hidden-sm.hidden-xs.col-lg-4 p{
	padding: 10px 0px 150px 0px;
	
	}
	
.col-md-4.col-sm-4.col-xs-4  p{
	padding: 10px 0px 30px 0px;
	
	}
	
.hidden-xs.hidden-sm.col-md-6.col-lg-6{
	margin: 20px 30px;
	width:42%;
	text-align: center;
	
	}


.hidden-xs.hidden-sm.col-md-6.col-lg-6 p{display:block;}

.col-xs-6.col-sm-6.hidden-md.hidden-lg{
	margin: 20px auto;
	width: 100%;
	text-align: center;
}

.col-xs-6.col-md-6.col-sm-6.col-lg-6{
	margin: 20px auto;
	width: 50%;
	text-align: center;
	
}
	
#space{
	height: 725px;
	background-image: url("../photos/IMG_2332.JPG");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
	}

#secondSpace {
	height: 650px;
	background-image: url("../photos/IMG_1690.JPG");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
}

#thirdSpace{
	height: 750px;
	background-image: url("../photos/IMG_0373.JPG");
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment:fixed;
	}

#info {
	background-color:#FFF;
	width:100%;
	height:100%;
	}
#info p {
	margin-top: 50px;
	}	
#about {
	
	background-color:#FFF;
	width:100%;
	height:150%;
	padding:65px 0px 80px 0px;
	}
	
#about p {
	font-size: 22px;
	text-align: left;
	margin: 20px auto;
	}

#project {
	background-color:#FFF;
	width:100%;
	height:100%;
	margin-bottom:50px;
	padding:50px 0px;
	}
	
#project i{
	border: 4px solid #34CCBC;
	border-radius: 50%;
	padding: 50px;
	}

#project i:hover {
	color:#9AEEFF;
	}

.visible-xs {
  margin: 0px 35%;
}

#socialIcons{
	float:right;
	margin-bottom: 15px;
	}

#socialIcons i {
	padding: 0px;
	color:#34CCBC;
	
	}

#socialIcons i:hover {
	color:#9AEEFF;
	}

#infoButton {
	color:#9AEEFF;
	text-align:center;
	}

#infoBtnSect {
	height: 22%;
	width: 9%;
	text-align: center;
	vertical-align: bottom;
	margin: 400px auto 0px auto;
	padding-top: 75px;
	float: none;
	}

#infoBtnSect:hover{	
	animation:slideDown 2s infinite;
	-webkit-animation: slideDown 2s infinite;
	-moz-animation: slideDown 2s infinite;
	-o-animation: slideDown 2s infinite;
	padding-top:50px;
}


.fa {
	color:#CCAE34;
	margin:0px;
}

.hidden-md.hidden-sm.hidden-xs.col-lg-4 i {
	padding-top: 125px;
	}

@keyframes slideDown {
	0% {padding-top: 75px;}
	50%{padding-top: 80px;}
	99%{padding-top:85px;}
	100%{opacity: 0;}
	}
	

@-webkit-keyframes slideDown {
	0% {padding-top: 75px;}
	50%{padding-top: 80px;}
	99%{padding-top:85px;}
	100%{opacity: 0;}
	}	
	
@-moz-keyframes slideDown {
	0% {padding-top: 50px;}
	50%{padding-top: 65px;}
	99%{padding-top:75px;}
	100%{opacity: 0;}
	}	
			

@-o-keyframes slideDown {
	0% {padding-top: 550px;}
	50%{padding-top: 553px;}
	99%{padding-top:555px;}
	100%{opacity: 0;}
	}

@media (max-width: 770px) {
	#info {
	margin: 20px auto 0px;
	height: 100%;
	}
}

@media (max-width: 360px) {
	#info {
	margin: 20px auto 0px;
	height: 85%;
	}
	
	#info p {
	padding: 0px;
	}
	
	#project {
	background-color:#FFF;
	width:100%;
	height:75%;
	padding:0px;
	margin: 0px auto 0px;
	}
	#about {
	background-color:#FFF;
	width:100%;
	height:100%;
	padding:0px;
	margin: 0px auto;
	
	}
	
	#about p {text-align: center;}
	h2 {
	margin: 50px auto 0px;
    height: 55px;
	}
}

@media (max-width: 320px) {
	
	.navbar-nav {
		display: hidden;
	}
	
	.header {
	display: hidden;
	}
	#space {
		height: 0px;
		}
	#info i {
	padding-top: 2px;
	}
	#project {
	background-color:#FFF;
	width:100%;
	height:100%;
	padding:25px 0px 0px;
	margin: 40px auto 0px;
	}
	#about {
	background-color:#FFF;
	width:100%;
	height:100%;
	padding:0px;
	margin: 45px auto 0px auto;
	}
	h2 {
	margin: 50px auto 0px auto;
    height: 55px;
	}
	
	#info {
	margin-top: 75px;
	}
	#smallAbout p{
	font-size: 18px;
	text-align: justify;
	}
	
	#project i {
	border: none;
	padding: 10px;
	}
	#project p {
	font-size: 22px;
	}
	.col-md-4.col-sm-4.col-xs-4 p {
	padding:10px auto;
	}
	.col-md-4.col-sm-4.col-xs-4.hidden-lg {
    margin: 10px auto 5px;
	}
}

