{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="header" id="home">

	<nav class="nav nav-default">
	
		<h1 class="hidden-xs hidden-sm visible-md visible-lg visible-xl">Tech <span style="font-size:50px;">&#8226;</span> Data <span style="font-size:50px;">&#8226;</span>Web</h1>
		<h1 class="visible-xs visible-sm hidden-md hidden-lg hidden-xl">Tech &#8226;Data&#8226;Web</h1>
   	</nav>
   	</div>


	<nav class="nav nav-default navbar-fixed-bottom" data-target="#main-nav">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="visible-xs" id="socialIcons" >
				<a href="http://www.twitter.com/soniahinson"><i class="fa fa-twitter fa-2x"></i></a>
				<a href="http://www.github.com/shinson"><i class="fa fa-github-alt fa-2x"></i></a>
				<a onclick="$('html, body').animate({ scrollTop: $('#home').offset().top -50}, 800);"><i class="fa fa-arrow-up fa-2x"></i></a>
				</div>
			</div>
		<div>
		<div class="hidden-xs">
			<ul class="nav navbar-nav">
				<li class="active">
					<a class="hidden-xs" href="#">Home</a>
				</li>
				<li>
					<a class="scroll-link" data-id="about" href="/#about">About</a>
				</li>
				<li>
					<a href="/blog">Blog</a>
				</li>
				<li>
					<a class="scroll-link" data-id="project" href="/#project">Projects</a>
				</li>
				<li>
					<a class="scroll-link" data-id="project" href="/contact">Contact</a>
				</li>
			</ul>
			</div>
			<ul class="nav navbar-nav hidden-xs" id="socialIcons">
				<li>
					<a href="http://www.twitter.com/soniahinson"><i class="fa fa-twitter fa-2x"></i></a>
				</li>
				<li>
					<a href="http://www.github.com/shinson"><i class="fa fa-github-alt fa-2x"></i></a>
				</li>
				
			</ul>
		</div>
	</div>
</nav>

<div class="hidden-xs col-sm-12 col-md-12 col-lg-12" id="space">
<div class="col-sm-12 col-md-12 col-lg-12" id="infoBtnSect">
<a class="scroll-link" onclick="$('html, body').animate({ scrollTop: $('#info').offset().top -2}, 800);"><i class="fa fa-angle-double-down fa-4x" data-id="info" id="infoButton"></i></a>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12" id="info">
 	<div class="container-fluid">
		<div class="hidden-md hidden-sm hidden-xs col-lg-4 infoThree">
			<i class="fa fa-medkit fa-3x"></i>
    		<p>See what I <a class="scroll-link" data-id="about" onclick="$('html, body').animate({ scrollTop: $('#about').offset().top -1}, 800);">do</a></p>
    	</div>
		<div class="hidden-md hidden-sm hidden-xs col-lg-4 infoThree" id="centerInfo">
			<i class="fa fa-lightbulb-o fa-3x"></i>  
			<p>See what I <a href="/blog">think</a></p>
		</div>
		<div class="hidden-md hidden-sm hidden-xs col-lg-4 infoThree">
			<i class="fa fa-gears fa-3x"></i>    
			<p>See how I <a class="scroll-link" data-id="project" onclick="$('html, body').animate({ scrollTop: $('#project').offset().top -1}, 800);">work</a></p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 hidden-lg">
			<i class="fa fa-medkit fa-3x"></i>
    		<p>See what I <a class="scroll-link" data-id="about" onclick="$('html, body').animate({ scrollTop: $('#about').offset().top -1}, 800);">do</a></p>
    	</div>
		<div class="col-md-4 col-sm-4 col-xs-4 hidden-lg" id="centerInfoSmall">
			<i class="fa fa-lightbulb-o fa-3x"></i>  
			<p>See what I <a href="/blog">think</a></p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 hidden-lg">
			<i class="fa fa-gears fa-3x"></i>    
			<p>See how I <a class="scroll-link" data-id="project" onclick="$('html, body').animate({ scrollTop: $('#project').offset().top -1}, 800);">work</a></p>
		</div>
	</div>
</div>

<div class="hidden-xs col-sm-12 col-md-12 col-lg-12" id="secondSpace">
</div>

<div class="col-sm-12 col-md-12 col-lg-12" id="about">
	<div class="container-fluid">
		<h2>About Me</h2>
		<br>
		<div id="aboutP">
		<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
    		<p>Born and raised in Atlanta, I moved to Chicago to attend the University of Chicago.
			After many grueling years of selling my soul to academic gods (Plato, Smith, etc.), I decided to have some fun. 
			I learned Arabic and studied abroad in Jerusalem and Irbid, Jordan. After a short stint in Middle East research, 
			I was not feeling the impact of the work I was doing, so thankfully with a little bit of luck and a good sales pitch, 
			I landed a job in Syrian humanitarian relief.</p>
		</div>
		<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
			<p>I have always incorporated learning tech into my daily life, but it wasn't until January 2014 did I take this passion
			into full speed. With the help of the tremendous DC women in tech movement I have learned way more skills than i ever did in 
			college. With a focus in web development and programming, I hope to use these skills to bridge the gap between
			technology and humanitarian/development programs. </p>
		</div>
		<div class="col-xs-6 col-sm-6 hidden-md hidden-lg" id="smallAbout">
			<p>I have always incorporated learning tech into my daily life, but it wasn't until January 2014 did I take this passion
			into full speed. With the help of the tremendous DC women in tech movement I have learned way more skills than i ever did in 
			college. With a focus in web development and programming, I hope to use these skills to bridge the gap between
			technology and humanitarian and development programs. </p>
		</div>
		</div>
<!-- 
	<div class="viewClick hidden-xs">
	<a onclick="$('html, body').animate({ scrollTop: $('#home').offset().top -50}, 800);"><i id="view" class="fa fa-arrow-up fa-2x"></i></a>
	</div>
 -->

	</div>
</div>

<div class="hidden-xs col-sm-12 col-md-12 col-lg-12" id="thirdSpace">
</div>

<div class="col-sm-12 col-md-12 col-lg-12" id="project">
	<div class="container-fluid">
		<h2>Projects</h2>
		<br>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<a href="http://www.shinson.pythonanywhere.com"><i class="fa fa-calculator fa-3x"></i></a>
			<div class="hidden-xs">
			<p>Healthcare Caseload</p>
			<p>Calculator</p>
			</div>
			<div class="visible-xs">
			<p>Healthcare Caseload Calculator</p>
			</div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<a href="http://www.github.com/shinson"><i class="fa fa-github fa-3x"></i></a>
			<p>Projects on Github</p>
		</div>
	
	</div>
	<br>	
<!-- 
	<div class="viewClick hidden-xs">
	<a onclick="$('html, body').animate({ scrollTop: $('#home').offset().top -50}, 800);"><i id="view" class="fa fa-arrow-up fa-2x"></i></a>
	</div>
 -->
	</div>
</div>
{% endblock %}
