<div class="navBar">
  <div class="navWrapper">
      <div class="logo">Sonia Hinson</div>
      <div id="btn-menu" class="mainMenu">
        <button id="atmButton" class="btn-atom" data-target="menuList">
          <span>toggle menu</span>
        </button>
        <ul id="menuList" class="navMenu">
          <li data-target="home">Home</li>
          <li data-target="resume">Resume</li>
          <li data-target="media">Media</li>
          <li data-target="project">Projects</li>
          <li data-target="contact">Contact</li>
        </ul>
      </div>
      </div>
 </div>